* {
  margin: 0;
  padding: 0;
}

#listContainer {
  border: 10px solid grey;
  height: 300px;
  margin: 0 auto;
  overflow: auto;
  width: 200px;
}

li {
  padding: 10px;
  list-style-type: none;
}
li:hover {
  background: #ccc;
}